// Layout

// Typography

$font-stack: 'Source Sans Pro',
             'Helvetica Neue',
             Helvetica,
             Arial,
             sans-serif;

// Colors

$base: #8038B5;
$dark-blue: #182341;
$box-bg: #F6F6F6;
$accent: #0375BE;

    // Gradients

    $purpleGradient:  45deg,
                    #182341 20%,
                    #8038B5 100%;

    $pinkGradient:    45deg, 
                    #726193 20%, 
                    #e37b7c 60%,
                    #ffe4b4;